html,
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

header#full{
  background-color: #5F82D9;
  text-align: center;
  padding: 50px 0;
  font-size: 1.5em;

  p{
    color: #fff;
    font-size: .7em;
  }

}
